<a href="https://colab.research.google.com/github/adityapanwar94/Data-Analysis-and-Process-Automation-DaPrA-/blob/harshini/Extracting_features_pc_specs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Mount Drive**

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## **Import Libraries**

In [3]:
import pandas as pd
import numpy as np

## **Read csv file**

In [4]:
pc_details = pd.read_csv(r'/content/drive/MyDrive/dataset/Cleaned_pc_specs2.csv')
pc_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1481 entries, 0 to 1480
Data columns (total 35 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1481 non-null   int64
 1   Unnamed: 0.1        1481 non-null   int64
 2   team_id             1481 non-null   int64
 3   Single core score1  1481 non-null   float64
 4   Single core score2  1481 non-null   float64
 5   Single core score3  1481 non-null   float64
 6   Single core score4  1481 non-null   float64
 7   Multi core score1   1481 non-null   float64
 8   Multi core score2   1481 non-null   float64
 9   Multi core score3   1481 non-null   float64
 10  Multi core score4   1481 non-null   float64
 11  OpenCL score1       1481 non-null   float64
 12  OpenCL score2       1481 non-null   float64
 13  OpenCL score3       1481 non-null   float64
 14  OpenCL score4       1481 non-null   float64
 15  OS1                 1481 non-null   object
 16  OS2                 1481 non-null   object
 17  OS3                 1481 non-null   object
 18  OS4                 1481 non-null   object
 19  Model1              1481 non-null   object
 20  Model2              1481 non-null   object
 21  Model3              1481 non-null   object
 22  Model4              1481 non-null   object
 23  CPU1                1481 non-null   object
 24  CPU2                1481 non-null   object
 25  CPU3                1481 non-null   object
 26  CPU4                1481 non-null   object
 27  Memory1             1481 non-null   float64
 28  Memory2             1481 non-null   float64
 29  Memory3             1481 non-null   float64
 30  Memory4             1481 non-null   float64
 31  Graphic Card1       1481 non-null   float64
 32  Graphic Card2       1481 non-null   float64
 33  Graphic Card3       1481 non-null   float64
 34  Graphic Card4       1481 non-null   float64
dtypes: float64(20), int64(3), object(12)
memory usage: 405.1+ KB

In [5]:
pc_details.head()

,Unnamed: 0,Unnamed: 0.1,team_id,Single core score1,Single core score2,Single core score3,Single core score4,Multi core score1,Multi core score2,Multi core score3,...,CPU3,CPU4,Memory1,Memory2,Memory3,Memory4,Graphic Card1,Graphic Card2,Graphic Card3,Graphic Card4
0,0,0,1001,1142.0,543.0,836.0,601.0,2148.0,1132.0,1525.0,...,Intel Core i5-7200U,AMD Ryzen 5 3500U,3.62,3.64,3.73,5.74,0.00,0.00,0.00,0.0
1,1,1,1002,1060.0,549.0,416.0,590.0,3394.0,1834.0,857.0,...,Intel Core i3-2350M,Intel Core i5-5200U,2.00,2.00,2.00,1.00,3.14,2.00,0.00,2.0
2,2,2,1003,363.0,451.0,488.0,0.0,779.0,1154.0,1116.0,...,Intel Core i3-3110M,0,1.00,1.00,2.00,0.00,1.37,1.56,1.37,0.0
3,3,3,1004,809.0,1182.0,847.0,770.0,2303.0,6647.0,2474.0,...,Intel Core i5-8250U,Intel Core i7-6500U,1.00,2.00,1.00,1.00,2.00,6.00,3.16,2.0
4,4,4,1005,686.0,1003.0,624.0,827.0,3318.0,3848.0,3610.0,...,AMD Ryzen 5 4600H,Intel Core i7-9750H,15.52,1.00,1.00,1.00,0.00,6.00,4.00,6.0

## **Dropping unwanted columns**

In [6]:
pc_details.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'team_id', 'Single core score1',
       'Single core score2', 'Single core score3', 'Single core score4',
       'Multi core score1', 'Multi core score2', 'Multi core score3',
       'Multi core score4', 'OpenCL score1', 'OpenCL score2', 'OpenCL score3',
       'OpenCL score4', 'OS1', 'OS2', 'OS3', 'OS4', 'Model1', 'Model2',
       'Model3', 'Model4', 'CPU1', 'CPU2', 'CPU3', 'CPU4', 'Memory1',
       'Memory2', 'Memory3', 'Memory4', 'Graphic Card1', 'Graphic Card2',
       'Graphic Card3', 'Graphic Card4'],
      dtype='object')

In [7]:
pc_details = pc_details.drop(['Unnamed: 0.1', 'OS1', 'OS2', 'OS3', 'OS4', 'Model1', 'Model2', 'Model3', 'Model4', 
                              'CPU1', 'CPU2', 'CPU3', 'CPU4', 'OpenCL score1', 'OpenCL score2', 'OpenCL score3','OpenCL score4', 
                              'Graphic Card1', 'Graphic Card2', 'Graphic Card3', 'Graphic Card4'], axis=1)

In [8]:
pc_details.head()

,Unnamed: 0,team_id,Single core score1,Single core score2,Single core score3,Single core score4,Multi core score1,Multi core score2,Multi core score3,Multi core score4,Memory1,Memory2,Memory3,Memory4
0,0,1001,1142.0,543.0,836.0,601.0,2148.0,1132.0,1525.0,2281.0,3.62,3.64,3.73,5.74
1,1,1002,1060.0,549.0,416.0,590.0,3394.0,1834.0,857.0,1326.0,2.00,2.00,2.00,1.00
2,2,1003,363.0,451.0,488.0,0.0,779.0,1154.0,1116.0,0.0,1.00,1.00,2.00,0.00
3,3,1004,809.0,1182.0,847.0,770.0,2303.0,6647.0,2474.0,1643.0,1.00,2.00,1.00,1.00
4,4,1005,686.0,1003.0,624.0,827.0,3318.0,3848.0,3610.0,4071.0,15.52,1.00,1.00,1.00

## **Getting mean value of single core score**

In [9]:
pc_details = pc_details.assign(single_core_avg=pc_details.loc[:, ['Single core score1',
       'Single core score2', 'Single core score3', 'Single core score4']].mean(axis=1))

In [10]:
pc_details.head()

,Unnamed: 0,team_id,Single core score1,Single core score2,Single core score3,Single core score4,Multi core score1,Multi core score2,Multi core score3,Multi core score4,Memory1,Memory2,Memory3,Memory4,single_core_avg
0,0,1001,1142.0,543.0,836.0,601.0,2148.0,1132.0,1525.0,2281.0,3.62,3.64,3.73,5.74,780.50
1,1,1002,1060.0,549.0,416.0,590.0,3394.0,1834.0,857.0,1326.0,2.00,2.00,2.00,1.00,653.75
2,2,1003,363.0,451.0,488.0,0.0,779.0,1154.0,1116.0,0.0,1.00,1.00,2.00,0.00,325.50
3,3,1004,809.0,1182.0,847.0,770.0,2303.0,6647.0,2474.0,1643.0,1.00,2.00,1.00,1.00,902.00
4,4,1005,686.0,1003.0,624.0,827.0,3318.0,3848.0,3610.0,4071.0,15.52,1.00,1.00,1.00,785.00

## **Getting mean value of multi core score**

In [11]:
pc_details = pc_details.assign(multi_core_avg=pc_details.loc[:, ['Multi core score1', 'Multi core score2', 'Multi core score3',
       'Multi core score4']].mean(axis=1))

In [12]:
pc_details.head()

,Unnamed: 0,team_id,Single core score1,Single core score2,Single core score3,Single core score4,Multi core score1,Multi core score2,Multi core score3,Multi core score4,Memory1,Memory2,Memory3,Memory4,single_core_avg,multi_core_avg
0,0,1001,1142.0,543.0,836.0,601.0,2148.0,1132.0,1525.0,2281.0,3.62,3.64,3.73,5.74,780.50,1771.50
1,1,1002,1060.0,549.0,416.0,590.0,3394.0,1834.0,857.0,1326.0,2.00,2.00,2.00,1.00,653.75,1852.75
2,2,1003,363.0,451.0,488.0,0.0,779.0,1154.0,1116.0,0.0,1.00,1.00,2.00,0.00,325.50,762.25
3,3,1004,809.0,1182.0,847.0,770.0,2303.0,6647.0,2474.0,1643.0,1.00,2.00,1.00,1.00,902.00,3266.75
4,4,1005,686.0,1003.0,624.0,827.0,3318.0,3848.0,3610.0,4071.0,15.52,1.00,1.00,1.00,785.00,3711.75

## **Getting average of memory column**

In [13]:
pc_details = pc_details.assign(memory_avg=pc_details.loc[:, ['Memory1','Memory2', 'Memory3', 'Memory4']].mean(axis=1))

In [14]:
pc_details.head()

,Unnamed: 0,team_id,Single core score1,Single core score2,Single core score3,Single core score4,Multi core score1,Multi core score2,Multi core score3,Multi core score4,Memory1,Memory2,Memory3,Memory4,single_core_avg,multi_core_avg,memory_avg
0,0,1001,1142.0,543.0,836.0,601.0,2148.0,1132.0,1525.0,2281.0,3.62,3.64,3.73,5.74,780.50,1771.50,4.1825
1,1,1002,1060.0,549.0,416.0,590.0,3394.0,1834.0,857.0,1326.0,2.00,2.00,2.00,1.00,653.75,1852.75,1.7500
2,2,1003,363.0,451.0,488.0,0.0,779.0,1154.0,1116.0,0.0,1.00,1.00,2.00,0.00,325.50,762.25,1.0000
3,3,1004,809.0,1182.0,847.0,770.0,2303.0,6647.0,2474.0,1643.0,1.00,2.00,1.00,1.00,902.00,3266.75,1.2500
4,4,1005,686.0,1003.0,624.0,827.0,3318.0,3848.0,3610.0,4071.0,15.52,1.00,1.00,1.00,785.00,3711.75,4.6300

In [15]:
pc_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1481 entries, 0 to 1480
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1481 non-null   int64
 1   team_id             1481 non-null   int64
 2   Single core score1  1481 non-null   float64
 3   Single core score2  1481 non-null   float64
 4   Single core score3  1481 non-null   float64
 5   Single core score4  1481 non-null   float64
 6   Multi core score1   1481 non-null   float64
 7   Multi core score2   1481 non-null   float64
 8   Multi core score3   1481 non-null   float64
 9   Multi core score4   1481 non-null   float64
 10  Memory1             1481 non-null   float64
 11  Memory2             1481 non-null   float64
 12  Memory3             1481 non-null   float64
 13  Memory4             1481 non-null   float64
 14  single_core_avg     1481 non-null   float64
 15  multi_core_avg      1481 non-null   float64
 16  memory_avg          1481 non-null   float64
dtypes: float64(15), int64(2)
memory usage: 196.8 KB

## **Creating a cloumn for geekbench score**

In [16]:
pc_details = pc_details.assign(Geekbench_score = pc_details.loc[:, ['single_core_avg', 'multi_core_avg']].mean(axis=1))

In [17]:
pc_details.head()

,Unnamed: 0,team_id,Single core score1,Single core score2,Single core score3,Single core score4,Multi core score1,Multi core score2,Multi core score3,Multi core score4,Memory1,Memory2,Memory3,Memory4,single_core_avg,multi_core_avg,memory_avg,Geekbench_score
0,0,1001,1142.0,543.0,836.0,601.0,2148.0,1132.0,1525.0,2281.0,3.62,3.64,3.73,5.74,780.50,1771.50,4.1825,1276.000
1,1,1002,1060.0,549.0,416.0,590.0,3394.0,1834.0,857.0,1326.0,2.00,2.00,2.00,1.00,653.75,1852.75,1.7500,1253.250
2,2,1003,363.0,451.0,488.0,0.0,779.0,1154.0,1116.0,0.0,1.00,1.00,2.00,0.00,325.50,762.25,1.0000,543.875
3,3,1004,809.0,1182.0,847.0,770.0,2303.0,6647.0,2474.0,1643.0,1.00,2.00,1.00,1.00,902.00,3266.75,1.2500,2084.375
4,4,1005,686.0,1003.0,624.0,827.0,3318.0,3848.0,3610.0,4071.0,15.52,1.00,1.00,1.00,785.00,3711.75,4.6300,2248.375

In [18]:
pc_details.columns

Index(['Unnamed: 0', 'team_id', 'Single core score1', 'Single core score2',
       'Single core score3', 'Single core score4', 'Multi core score1',
       'Multi core score2', 'Multi core score3', 'Multi core score4',
       'Memory1', 'Memory2', 'Memory3', 'Memory4', 'single_core_avg',
       'multi_core_avg', 'memory_avg', 'Geekbench_score'],
      dtype='object')

In [19]:
pc_details1 = pc_details.drop(['Single core score1', 'Single core score2',
       'Single core score3', 'Single core score4', 'Multi core score1',
       'Multi core score2', 'Multi core score3', 'Multi core score4',
       'Memory1', 'Memory2', 'Memory3', 'Memory4'], axis=1)

In [20]:
pc_details1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1481 entries, 0 to 1480
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       1481 non-null   int64
 1   team_id          1481 non-null   int64
 2   single_core_avg  1481 non-null   float64
 3   multi_core_avg   1481 non-null   float64
 4   memory_avg       1481 non-null   float64
 5   Geekbench_score  1481 non-null   float64
dtypes: float64(4), int64(2)
memory usage: 69.5 KB

In [21]:
pc_details1.head()

,Unnamed: 0,team_id,single_core_avg,multi_core_avg,memory_avg,Geekbench_score
0,0,1001,780.50,1771.50,4.1825,1276.000
1,1,1002,653.75,1852.75,1.7500,1253.250
2,2,1003,325.50,762.25,1.0000,543.875
3,3,1004,902.00,3266.75,1.2500,2084.375
4,4,1005,785.00,3711.75,4.6300,2248.375

In [23]:
pc_details1.to_csv('pc-specs_final.csv', index = False)