<a href="https://colab.research.google.com/github/adityapanwar94/Data-Analysis-and-Process-Automation-DaPrA-/blob/harshini/Extracting_features_pc_specs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Mount Drive**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## **Import Libraries**

In [2]:
import pandas as pd
import numpy as np

## **Read csv file**

In [3]:
pc_details = pd.read_csv(r'/content/drive/MyDrive/dataset/cleaned_old_dataset.csv')
pc_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1293 entries, 0 to 1292
Data columns (total 35 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1293 non-null   int64
 1   Unnamed: 0.1        1293 non-null   int64
 2   team_id             1293 non-null   int64
 3   Single core score1  1293 non-null   float64
 4   Single core score2  1293 non-null   float64
 5   Single core score3  1293 non-null   float64
 6   Single core score4  1293 non-null   float64
 7   Multi core score1   1293 non-null   float64
 8   Multi core score2   1293 non-null   float64
 9   Multi core score3   1293 non-null   float64
 10  Multi core score4   1293 non-null   float64
 11  OpenCL score1       1293 non-null   float64
 12  OpenCL score2       1293 non-null   float64
 13  OpenCL score3       1293 non-null   float64
 14  OpenCL score4       1293 non-null   float64
 15  OS1                 1293 non-null   object
 16  OS2                 1293 non-null   object
 17  OS3                 1293 non-null   object
 18  OS4                 1293 non-null   object
 19  Model1              1293 non-null   object
 20  Model2              1293 non-null   object
 21  Model3              1293 non-null   object
 22  Model4              1293 non-null   object
 23  CPU1                1293 non-null   object
 24  CPU2                1293 non-null   object
 25  CPU3                1293 non-null   object
 26  CPU4                1293 non-null   object
 27  Memory1             1293 non-null   float64
 28  Memory2             1293 non-null   float64
 29  Memory3             1293 non-null   float64
 30  Memory4             1293 non-null   float64
 31  Graphic Card1       1293 non-null   float64
 32  Graphic Card2       1293 non-null   float64
 33  Graphic Card3       1293 non-null   float64
 34  Graphic Card4       1293 non-null   float64
dtypes: float64(20), int64(3), object(12)
memory usage: 353.7+ KB

In [4]:
pc_details.head()

,Unnamed: 0,Unnamed: 0.1,team_id,Single core score1,Single core score2,Single core score3,Single core score4,Multi core score1,Multi core score2,Multi core score3,...,CPU3,CPU4,Memory1,Memory2,Memory3,Memory4,Graphic Card1,Graphic Card2,Graphic Card3,Graphic Card4
0,0,0,1001,1142.0,543.0,836.0,601.0,2148.0,1132.0,1525.0,...,Intel Core i5-7200U,AMD Ryzen 5 3500U,3.62,3.64,3.73,5.74,0.00,0.00,0.00,0.0
1,1,1,1002,1060.0,549.0,416.0,590.0,3394.0,1834.0,857.0,...,Intel Core i3-2350M,Intel Core i5-5200U,2.00,2.00,2.00,1.00,3.14,2.00,0.00,2.0
2,2,2,1004,809.0,1182.0,847.0,770.0,2303.0,6647.0,2474.0,...,Intel Core i5-8250U,Intel Core i7-6500U,1.00,2.00,1.00,1.00,2.00,6.00,3.16,2.0
3,3,3,1005,686.0,1003.0,624.0,827.0,3318.0,3848.0,3610.0,...,AMD Ryzen 5 4600H,Intel Core i7-9750H,15.52,1.00,1.00,1.00,0.00,6.00,4.00,6.0
4,4,4,1006,1004.0,422.0,657.0,1121.0,2612.0,1127.0,2252.0,...,Intel Core i5-10300H,AMD Ryzen 7 4800H,1.00,1.00,1.00,2.00,4.00,1.59,4.00,6.0

## **Dropping unwanted columns**

In [5]:
pc_details.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'team_id', 'Single core score1',
       'Single core score2', 'Single core score3', 'Single core score4',
       'Multi core score1', 'Multi core score2', 'Multi core score3',
       'Multi core score4', 'OpenCL score1', 'OpenCL score2', 'OpenCL score3',
       'OpenCL score4', 'OS1', 'OS2', 'OS3', 'OS4', 'Model1', 'Model2',
       'Model3', 'Model4', 'CPU1', 'CPU2', 'CPU3', 'CPU4', 'Memory1',
       'Memory2', 'Memory3', 'Memory4', 'Graphic Card1', 'Graphic Card2',
       'Graphic Card3', 'Graphic Card4'],
      dtype='object')

In [6]:
pc_details = pc_details.drop(['Unnamed: 0.1', 'OS1', 'OS2', 'OS3', 'OS4', 'Model1', 'Model2', 'Model3', 'Model4', 
                              'CPU1', 'CPU2', 'CPU3', 'CPU4',  
                              'Graphic Card1', 'Graphic Card2', 'Graphic Card3', 'Graphic Card4'], axis=1)

In [7]:
pc_details.head()

,Unnamed: 0,team_id,Single core score1,Single core score2,Single core score3,Single core score4,Multi core score1,Multi core score2,Multi core score3,Multi core score4,OpenCL score1,OpenCL score2,OpenCL score3,OpenCL score4,Memory1,Memory2,Memory3,Memory4
0,0,1001,1142.0,543.0,836.0,601.0,2148.0,1132.0,1525.0,2281.0,0.0,3167.0,3002.0,2946.0,3.62,3.64,3.73,5.74
1,1,1002,1060.0,549.0,416.0,590.0,3394.0,1834.0,857.0,1326.0,5735.0,10951.0,0.0,6119.0,2.00,2.00,2.00,1.00
2,2,1004,809.0,1182.0,847.0,770.0,2303.0,6647.0,2474.0,1643.0,8153.0,65910.0,4750.0,12370.0,1.00,2.00,1.00,1.00
3,3,1005,686.0,1003.0,624.0,827.0,3318.0,3848.0,3610.0,4071.0,0.0,35012.0,33704.0,65250.0,15.52,1.00,1.00,1.00
4,4,1006,1004.0,422.0,657.0,1121.0,2612.0,1127.0,2252.0,5887.0,43776.0,2264.0,39737.0,64181.0,1.00,1.00,1.00,2.00

## **Getting mean value of single core score**

In [8]:
pc_details = pc_details.assign(Single_core_avg=pc_details.loc[:, ['Single core score1',
       'Single core score2', 'Single core score3', 'Single core score4']].mean(axis=1))

In [9]:
pc_details.head()

,Unnamed: 0,team_id,Single core score1,Single core score2,Single core score3,Single core score4,Multi core score1,Multi core score2,Multi core score3,Multi core score4,OpenCL score1,OpenCL score2,OpenCL score3,OpenCL score4,Memory1,Memory2,Memory3,Memory4,Single_core_avg
0,0,1001,1142.0,543.0,836.0,601.0,2148.0,1132.0,1525.0,2281.0,0.0,3167.0,3002.0,2946.0,3.62,3.64,3.73,5.74,780.50
1,1,1002,1060.0,549.0,416.0,590.0,3394.0,1834.0,857.0,1326.0,5735.0,10951.0,0.0,6119.0,2.00,2.00,2.00,1.00,653.75
2,2,1004,809.0,1182.0,847.0,770.0,2303.0,6647.0,2474.0,1643.0,8153.0,65910.0,4750.0,12370.0,1.00,2.00,1.00,1.00,902.00
3,3,1005,686.0,1003.0,624.0,827.0,3318.0,3848.0,3610.0,4071.0,0.0,35012.0,33704.0,65250.0,15.52,1.00,1.00,1.00,785.00
4,4,1006,1004.0,422.0,657.0,1121.0,2612.0,1127.0,2252.0,5887.0,43776.0,2264.0,39737.0,64181.0,1.00,1.00,1.00,2.00,801.00

## **Getting mean value of multi core score**

In [10]:
pc_details = pc_details.assign(Multi_core_avg=pc_details.loc[:, ['Multi core score1', 'Multi core score2', 'Multi core score3',
       'Multi core score4']].mean(axis=1))

In [11]:
pc_details.head()

,Unnamed: 0,team_id,Single core score1,Single core score2,Single core score3,Single core score4,Multi core score1,Multi core score2,Multi core score3,Multi core score4,OpenCL score1,OpenCL score2,OpenCL score3,OpenCL score4,Memory1,Memory2,Memory3,Memory4,Single_core_avg,Multi_core_avg
0,0,1001,1142.0,543.0,836.0,601.0,2148.0,1132.0,1525.0,2281.0,0.0,3167.0,3002.0,2946.0,3.62,3.64,3.73,5.74,780.50,1771.50
1,1,1002,1060.0,549.0,416.0,590.0,3394.0,1834.0,857.0,1326.0,5735.0,10951.0,0.0,6119.0,2.00,2.00,2.00,1.00,653.75,1852.75
2,2,1004,809.0,1182.0,847.0,770.0,2303.0,6647.0,2474.0,1643.0,8153.0,65910.0,4750.0,12370.0,1.00,2.00,1.00,1.00,902.00,3266.75
3,3,1005,686.0,1003.0,624.0,827.0,3318.0,3848.0,3610.0,4071.0,0.0,35012.0,33704.0,65250.0,15.52,1.00,1.00,1.00,785.00,3711.75
4,4,1006,1004.0,422.0,657.0,1121.0,2612.0,1127.0,2252.0,5887.0,43776.0,2264.0,39737.0,64181.0,1.00,1.00,1.00,2.00,801.00,2969.50

## **Getting Mean value of Opencl score - Geekbench score**

In [12]:
pc_details = pc_details.assign(Opencl_avg=pc_details.loc[:, ['OpenCL score1', 'OpenCL score2', 'OpenCL score3', 'OpenCL score4']].mean(axis=1))

In [13]:
pc_details.head()

,Unnamed: 0,team_id,Single core score1,Single core score2,Single core score3,Single core score4,Multi core score1,Multi core score2,Multi core score3,Multi core score4,...,OpenCL score2,OpenCL score3,OpenCL score4,Memory1,Memory2,Memory3,Memory4,Single_core_avg,Multi_core_avg,Opencl_avg
0,0,1001,1142.0,543.0,836.0,601.0,2148.0,1132.0,1525.0,2281.0,...,3167.0,3002.0,2946.0,3.62,3.64,3.73,5.74,780.50,1771.50,2278.75
1,1,1002,1060.0,549.0,416.0,590.0,3394.0,1834.0,857.0,1326.0,...,10951.0,0.0,6119.0,2.00,2.00,2.00,1.00,653.75,1852.75,5701.25
2,2,1004,809.0,1182.0,847.0,770.0,2303.0,6647.0,2474.0,1643.0,...,65910.0,4750.0,12370.0,1.00,2.00,1.00,1.00,902.00,3266.75,22795.75
3,3,1005,686.0,1003.0,624.0,827.0,3318.0,3848.0,3610.0,4071.0,...,35012.0,33704.0,65250.0,15.52,1.00,1.00,1.00,785.00,3711.75,33491.50
4,4,1006,1004.0,422.0,657.0,1121.0,2612.0,1127.0,2252.0,5887.0,...,2264.0,39737.0,64181.0,1.00,1.00,1.00,2.00,801.00,2969.50,37489.50

## **Getting average of memory column**

In [14]:
pc_details = pc_details.assign(memory_avg=pc_details.loc[:, ['Memory1','Memory2', 'Memory3', 'Memory4']].mean(axis=1))

In [15]:
pc_details.head()

,Unnamed: 0,team_id,Single core score1,Single core score2,Single core score3,Single core score4,Multi core score1,Multi core score2,Multi core score3,Multi core score4,...,OpenCL score3,OpenCL score4,Memory1,Memory2,Memory3,Memory4,Single_core_avg,Multi_core_avg,Opencl_avg,memory_avg
0,0,1001,1142.0,543.0,836.0,601.0,2148.0,1132.0,1525.0,2281.0,...,3002.0,2946.0,3.62,3.64,3.73,5.74,780.50,1771.50,2278.75,4.1825
1,1,1002,1060.0,549.0,416.0,590.0,3394.0,1834.0,857.0,1326.0,...,0.0,6119.0,2.00,2.00,2.00,1.00,653.75,1852.75,5701.25,1.7500
2,2,1004,809.0,1182.0,847.0,770.0,2303.0,6647.0,2474.0,1643.0,...,4750.0,12370.0,1.00,2.00,1.00,1.00,902.00,3266.75,22795.75,1.2500
3,3,1005,686.0,1003.0,624.0,827.0,3318.0,3848.0,3610.0,4071.0,...,33704.0,65250.0,15.52,1.00,1.00,1.00,785.00,3711.75,33491.50,4.6300
4,4,1006,1004.0,422.0,657.0,1121.0,2612.0,1127.0,2252.0,5887.0,...,39737.0,64181.0,1.00,1.00,1.00,2.00,801.00,2969.50,37489.50,1.2500

In [16]:
pc_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1293 entries, 0 to 1292
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1293 non-null   int64
 1   team_id             1293 non-null   int64
 2   Single core score1  1293 non-null   float64
 3   Single core score2  1293 non-null   float64
 4   Single core score3  1293 non-null   float64
 5   Single core score4  1293 non-null   float64
 6   Multi core score1   1293 non-null   float64
 7   Multi core score2   1293 non-null   float64
 8   Multi core score3   1293 non-null   float64
 9   Multi core score4   1293 non-null   float64
 10  OpenCL score1       1293 non-null   float64
 11  OpenCL score2       1293 non-null   float64
 12  OpenCL score3       1293 non-null   float64
 13  OpenCL score4       1293 non-null   float64
 14  Memory1             1293 non-null   float64
 15  Memory2             1293 non-null   float64
 16  Memory3             1293 non-null   float64
 17  Memory4             1293 non-null   float64
 18  Single_core_avg     1293 non-null   float64
 19  Multi_core_avg      1293 non-null   float64
 20  Opencl_avg          1293 non-null   float64
 21  memory_avg          1293 non-null   float64
dtypes: float64(20), int64(2)
memory usage: 222.4 KB

## **Creating a cloumn for geekbench score**

In [18]:
#pc_details = pc_details.assign(Geekbench_score_avg = pc_details.loc[:, ['single_core_avg', 'multi_core_avg']].mean(axis=1))

#This average values shows lot of variation as it corresponds to two differnt scores, hence this need not be calculated.

In [17]:
pc_details.head()

,Unnamed: 0,team_id,Single core score1,Single core score2,Single core score3,Single core score4,Multi core score1,Multi core score2,Multi core score3,Multi core score4,...,OpenCL score3,OpenCL score4,Memory1,Memory2,Memory3,Memory4,Single_core_avg,Multi_core_avg,Opencl_avg,memory_avg
0,0,1001,1142.0,543.0,836.0,601.0,2148.0,1132.0,1525.0,2281.0,...,3002.0,2946.0,3.62,3.64,3.73,5.74,780.50,1771.50,2278.75,4.1825
1,1,1002,1060.0,549.0,416.0,590.0,3394.0,1834.0,857.0,1326.0,...,0.0,6119.0,2.00,2.00,2.00,1.00,653.75,1852.75,5701.25,1.7500
2,2,1004,809.0,1182.0,847.0,770.0,2303.0,6647.0,2474.0,1643.0,...,4750.0,12370.0,1.00,2.00,1.00,1.00,902.00,3266.75,22795.75,1.2500
3,3,1005,686.0,1003.0,624.0,827.0,3318.0,3848.0,3610.0,4071.0,...,33704.0,65250.0,15.52,1.00,1.00,1.00,785.00,3711.75,33491.50,4.6300
4,4,1006,1004.0,422.0,657.0,1121.0,2612.0,1127.0,2252.0,5887.0,...,39737.0,64181.0,1.00,1.00,1.00,2.00,801.00,2969.50,37489.50,1.2500

In [19]:
pc_details.columns

Index(['Unnamed: 0', 'team_id', 'Single core score1', 'Single core score2',
       'Single core score3', 'Single core score4', 'Multi core score1',
       'Multi core score2', 'Multi core score3', 'Multi core score4',
       'OpenCL score1', 'OpenCL score2', 'OpenCL score3', 'OpenCL score4',
       'Memory1', 'Memory2', 'Memory3', 'Memory4', 'Single_core_avg',
       'Multi_core_avg', 'Opencl_avg', 'memory_avg'],
      dtype='object')

In [20]:
pc_details1 = pc_details.drop(['Single core score1', 'Single core score2',
       'Single core score3', 'Single core score4', 'Multi core score1',
       'Multi core score2', 'Multi core score3', 'Multi core score4',
       'Memory1', 'Memory2', 'Memory3', 'Memory4', 'OpenCL score1', 'OpenCL score2', 'OpenCL score3', 'OpenCL score4'], axis=1)

In [21]:
pc_details1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1293 entries, 0 to 1292
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       1293 non-null   int64
 1   team_id          1293 non-null   int64
 2   Single_core_avg  1293 non-null   float64
 3   Multi_core_avg   1293 non-null   float64
 4   Opencl_avg       1293 non-null   float64
 5   memory_avg       1293 non-null   float64
dtypes: float64(4), int64(2)
memory usage: 60.7 KB

In [22]:
pc_details1.head()

,Unnamed: 0,team_id,Single_core_avg,Multi_core_avg,Opencl_avg,memory_avg
0,0,1001,780.50,1771.50,2278.75,4.1825
1,1,1002,653.75,1852.75,5701.25,1.7500
2,2,1004,902.00,3266.75,22795.75,1.2500
3,3,1005,785.00,3711.75,33491.50,4.6300
4,4,1006,801.00,2969.50,37489.50,1.2500

In [ ]:
#pc_details1.to_csv('pc-specs_final.csv', index = False)

Observation: Through Further research on internet, it is found that geekbench score mainly corresponds to opencl score.

In [27]:
pc_details1.rename(columns = {'Opencl_avg':'Geekbench_score', 'memory_avg': 'Graphic_card_memory_avg'}, inplace = True)

In [28]:
#pc_details1.columns
pc_details1.head()

,Unnamed: 0,team_id,Single_core_avg,Multi_core_avg,Geekbench_score,Graphic_card_memory_avg
0,0,1001,780.50,1771.50,2278.75,4.1825
1,1,1002,653.75,1852.75,5701.25,1.7500
2,2,1004,902.00,3266.75,22795.75,1.2500
3,3,1005,785.00,3711.75,33491.50,4.6300
4,4,1006,801.00,2969.50,37489.50,1.2500

In [29]:
pc_details1.columns

Index(['Unnamed: 0', 'team_id', 'Single_core_avg', 'Multi_core_avg',
       'Geekbench_score', 'Graphic_card_memory_avg'],
      dtype='object')

In [26]:
#pc_details1.to_csv('Gb_score_memory_avg_values.csv', index=False)